[Desktop Entry]
Type=Application
Name=Uplink
Comment=Fast, secure IRC client
Exec=Uplink
Icon=uplink-irc
Categories=Network;IRCClient;
Terminal=false
